version: 2

updates:
  - package-ecosystem: npm
    cooldown:
      default-days: 7
    directory: "/app"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    groups:
      prod-minor-deps:
        dependency-type: "production"
        update-types:
          - "minor"
          - "patch"
      dev-minor-deps:
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: npm
    cooldown:
      default-days: 7
    directory: "/server"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    groups:
      prod-minor-deps:
        dependency-type: "production"
        update-types:
          - "minor"
          - "patch"
      dev-minor-deps:
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: github-actions
    cooldown:
      default-days: 7
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
