name: 'deploy'

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/deploy.yaml'
      - 'app/**'
      -  'server/**'
      - '.nais/**'
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  build:
    name: "Build app and push docker image to GAR"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Check for changes in files
        id: changed-files
        uses: nais/what-changed@main # https://github.com/nais/what-changed
        with:
          files: .nais/apps/**
      - uses: actions/setup-node@v6
        with:
          node-version: '22'
          registry-url: https://npm.pkg.github.com/
          scope: '@navikt'

      - uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: Build app
        run: pnpm --filter app build

      - name: Copy app dist into public directory of server
        run: cp -r app/dist/ server/public

      - name: Build server
        run: pnpm --filter server build

      - name: Build and push Docker image
        uses: nais/docker-build-push@v0
        if: steps.changed-files.outputs.changed != 'only-inputs'
        id: docker-push
        with:
          team: teammelosys
          image_suffix: melosys-skjema-web
          docker_context: server
          dockerfile: server/Dockerfile
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
    outputs:
      image: ${{ steps.docker-push.outputs.image }}

  deploy-dev:
    name: Deploy dev-gcp
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/nais.yaml
          WORKLOAD_IMAGE: ${{needs.build.outputs.image}}
          VARS: .nais/vars-dev.json

#  deploy-prod:
#    name: Deploy prod-gcp
#    needs: build
#    if: github.ref == 'refs/heads/main'
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v6
#      - uses: nais/deploy/actions/deploy@v2
#        env:
#          CLUSTER: prod-gcp
#          RESOURCE: .nais/nais.yaml
#          VARS: .nais/vars-prod.json
#          WORKLOAD_IMAGE: ${{needs.build.outputs.image}}
