name: "verify: app"

on:
  pull_request:
    branches:
      - 'main'
    paths:
      - 'app/**'
      - '.github/*/verify-app.yaml'

permissions:
  contents: read

jobs:
  verify:
    name: Verify there are no lint, typescript errors or test failures in app
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '22'
          registry-url: https://npm.pkg.github.com/
          scope: '@navikt'
      - uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: Run ESLint
        run: pnpm --filter app lint

      - name: Check for typescript errors
        run: pnpm --filter app check-types

      - name: Install Playwright Browsers
        run: pnpm --filter app exec playwright install chromium

      - name: Run tests
        run: pnpm --filter app test:e2e
